.DS_Store
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
dist/
build/
.next/
.cache/
.tmp/
.env
.env.*
.vercel/
.secrets/
logs/
*.log
.vscode/
.idea/
Thumbs.db
*.mp4
*.mov
*.avi
*.zip
*.tar
*.tar.gz
*.rar
*.7z
